dispositivos-y-redes-inalambricas/9 - Introducción a IBM Watson IoT/LoPy-WatsonIoT-student/code/Node-Red/Node-RED-Flow.json
[{"id":"5fe868e2.39a148","type":"ibmiot in","z":"21820e15.3af63a","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"A1B2C3D4E5F6","applicationId":"","deviceType":"LoPy","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":250,"y":240,"wires":[["b60a5e2e.3dd5a","7aa2af9.083405"]]},{"id":"490c8df0.915d3c","type":"function","z":"21820e15.3af63a","name":"estado","func":"context.global.estado = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":537,"y":582,"wires":[["6d026fea.513cd"]]},{"id":"c6c764a1.72b278","type":"function","z":"21820e15.3af63a","name":"led","func":"context.global.led = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":537,"y":702,"wires":[["6d026fea.513cd"]]},{"id":"84747979.a979f8","type":"function","z":"21820e15.3af63a","name":"color","func":"context.global.color = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":537,"y":802,"wires":[["6d026fea.513cd"]]},{"id":"6d026fea.513cd","type":"function","z":"21820e15.3af63a","name":"conversor","func":"msg.payload = JSON.stringify(context.global)\nreturn msg;","outputs":1,"noerr":0,"x":827,"y":702,"wires":[["2d1f6b26.ddb45c"]]},{"id":"2d1f6b26.ddb45c","type":"ibmiot out","z":"21820e15.3af63a","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"A1B2C3D4E5F6","deviceType":"LoPy","eventCommandType":"Pycom","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":1037,"y":702,"wires":[]},{"id":"c6e91fde.b56d5","type":"ui_switch","z":"21820e15.3af63a","name":"","label":"Status (AUTO / MANUAL)","group":"68b2d545.ee839c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":197,"y":582,"wires":[["490c8df0.915d3c"]]},{"id":"4005bcf.aa9a9c4","type":"ui_switch","z":"21820e15.3af63a","name":"","label":"LED (OFF / ON)","group":"68b2d545.ee839c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":227,"y":702,"wires":[["c6c764a1.72b278"]]},{"id":"4c8bc050.229d4","type":"ui_colour_picker","z":"21820e15.3af63a","name":"","label":"LED Color","group":"68b2d545.ee839c","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":237,"y":802,"wires":[["84747979.a979f8"]]},{"id":"bf8f02ff.a39828","type":"ui_chart","z":"21820e15.3af63a","name":"","group":"4f2b87c7.d5afc","order":0,"width":0,"height":0,"label":"temperaturaGrafico","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1007,"y":102,"wires":[[],[]]},{"id":"4a62ce1b.29177","type":"ui_chart","z":"21820e15.3af63a","name":"","group":"4f2b87c7.d5afc","order":0,"width":0,"height":0,"label":"LuminosidadGrafico","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1007,"y":382,"wires":[[],[]]},{"id":"b60a5e2e.3dd5a","type":"function","z":"21820e15.3af63a","name":"cogerTemp","func":"msg.payload = msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":102,"wires":[["bf8f02ff.a39828"]]},{"id":"7aa2af9.083405","type":"function","z":"21820e15.3af63a","name":"cogerLum","func":"msg.payload = msg.payload.light[0]\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":382,"wires":[["4a62ce1b.29177"]]},{"id":"68b2d545.ee839c","type":"ui_group","z":"","name":"Action","tab":"36d121ec.228ade","disp":true,"width":"6","collapse":false},{"id":"4f2b87c7.d5afc","type":"ui_group","z":"","name":"Measurements","tab":"36d121ec.228ade","disp":true,"width":"6","collapse":false},{"id":"36d121ec.228ade","type":"ui_tab","z":"","name":"Valores","icon":"dashboard"}]
