dispositivos-y-redes-inalambricas/7 - Interacción entre dispositivos IoT y un bróker/LoPy-NodeRed-student/code/Node-Red/Node-RED-Flow.json
[{"id":"1dd77b28.f6f795","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7eb99856.bc5b8","type":"ui_chart","z":"1dd77b28.f6f795","name":"","group":"45aab97a.f8f888","order":0,"width":0,"height":0,"label":"temperaturaGrafico","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1130,"y":80,"wires":[[],[]]},{"id":"25c6ebed.094f3c","type":"ui_chart","z":"1dd77b28.f6f795","name":"","group":"45aab97a.f8f888","order":0,"width":0,"height":0,"label":"LuminosidadGrafico","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1130,"y":360,"wires":[[],[]]},{"id":"bc5faa8d.9d7a","type":"function","z":"1dd77b28.f6f795","name":"cogerTemp","func":"var obj = JSON.parse(msg.payload).temperature;\nmsg.payload = obj;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":80,"wires":[["7eb99856.bc5b8"]]},{"id":"4ed60f91.972738","type":"function","z":"1dd77b28.f6f795","name":"cogerLum","func":"var obj = JSON.parse(msg.payload).light[0];\nmsg.payload = obj;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":360,"wires":[["25c6ebed.094f3c"]]},{"id":"da8cab95.68a6b8","type":"mqtt in","z":"1dd77b28.f6f795","name":"","topic":"Pycom1/valores","qos":"0","broker":"847e125b.b25ea8","x":350,"y":220,"wires":[["bc5faa8d.9d7a","4ed60f91.972738"]]},{"id":"567a299b.e96e68","type":"ui_switch","z":"1dd77b28.f6f795","name":"","label":"Status (AUTO / MANUAL)","group":"79fef260.19d3dc","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":560,"wires":[["51a8124f.4fd974"]]},{"id":"4a3dd48a.8cdc54","type":"ui_switch","z":"1dd77b28.f6f795","name":"","label":"LED (OFF / ON)","group":"79fef260.19d3dc","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":680,"wires":[["3619c150.149dbe"]]},{"id":"252da1f1.ff492e","type":"ui_colour_picker","z":"1dd77b28.f6f795","name":"","label":"LED Color","group":"79fef260.19d3dc","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":360,"y":780,"wires":[["bd374ac.94a42b8"]]},{"id":"51a8124f.4fd974","type":"function","z":"1dd77b28.f6f795","name":"estado","func":"context.global.estado = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":560,"wires":[["4d7c81bc.0d8e48"]]},{"id":"3619c150.149dbe","type":"function","z":"1dd77b28.f6f795","name":"led","func":"context.global.led = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":680,"wires":[["4d7c81bc.0d8e48"]]},{"id":"bd374ac.94a42b8","type":"function","z":"1dd77b28.f6f795","name":"color","func":"context.global.color = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":780,"wires":[["4d7c81bc.0d8e48"]]},{"id":"4d7c81bc.0d8e48","type":"function","z":"1dd77b28.f6f795","name":"conversor","func":"msg.payload = JSON.stringify(context.global)\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":680,"wires":[["6aa62942.529d3"]]},{"id":"6aa62942.529d3","type":"mqtt out","z":"1dd77b28.f6f795","name":"","topic":"Web/valores","qos":"0","retain":"","broker":"847e125b.b25ea8","x":1200,"y":680,"wires":[]},{"id":"45aab97a.f8f888","type":"ui_group","z":"","name":"Measurement","tab":"c96f5b1c.11486","disp":true,"width":"6","collapse":false},{"id":"847e125b.b25ea8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"79fef260.19d3dc","type":"ui_group","z":"","name":"Actions","tab":"c96f5b1c.11486","disp":true,"width":"6","collapse":false},{"id":"c96f5b1c.11486","type":"ui_tab","z":"","name":"Valores","icon":"dashboard"}]
